@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fca311;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #939393;
}
